#widget-profile {
  border: 4px solid #DfDfDf;
  background-color:  #EFEFEF;
  border-radius: 5px;
  margin: 5px;
  width: 350px;
  margin-bottom: 20px;
  margin-top: 8px;
  display: none;
}

#widget-profile a{
  overflow: auto;
  vertical-align: top;
  display: block;
}

#widget-profile img {
  max-width: 113px; 
  width: auto;
}

#widget-profile span {
  width: 230px;
  float: right;
  margin: 3px;
  color: #6A6A6A;
  font-family: "Times New Roman";
  vertical-align: top;
  font-size: 13px;
}

.profile-title {
  font-size: 15px;
  font-weight: bold;
  float: right;
  margin: 0px;
  padding-bottom: 5px;
  }

.before-load{
  margin: 20px !important;
  padding: 20px !important;
  float: none !important;
  display: block !important;
  text-align: center !important;
  font-size: 25px !important;
}